psutil
py-cpuinfo
pandas
ollama
flask
requests
python-telegram-bot>=20.7,<21
aiohttp>=3.9
faster-whisper>=1.0
piper-tts
python-dotenv
vosk
sounddevice
whisper 
sounddevice
numpy
requests
beautifulsoup4
#
langchain
langchain-community
langchain-ollama
langchain-huggingface
pypdf
sentence-transformers
faiss-cpu
fpdf